@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply prose min-h-[100vh] bg-white max-w-none prose-a:text-teal-500 prose-a:font-semibold prose-a:transition-colors prose-a:duration-150 prose-a:ease-out prose-a:hover:text-teal-600 lg:prose-xl;
}

#__next {
  @apply min-h-screen flex flex-col justify-start;
}
@layer base {
  blockquote {
    @apply !border-teal-400 !border-l-[0.175rem] bg-slate-100 dark:bg-slate-700 rounded-sm;
  }

  figure[data-rehype-pretty-code-figure] {
    @apply overflow-hidden bg-slate-900 rounded-md;
  }

  figure[data-rehype-pretty-code-figure] pre {
    @apply overflow-auto pt-2 pb-2 pl-0 pr-0 text-base;
  }

  figcaption[data-rehype-pretty-code-title] {
    @apply overflow-hidden my-[0.125rem] rounded-sm bg-slate-800 p-2 text-sm font-mono  px-3 py-1 text-teal-300;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

  figure[data-rehype-pretty-code-figure] [data-line] {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    border-left-width: 4px;
    border-left-color: transparent;
  }

  figure[data-rehype-pretty-code-figure] [data-highlighted-line] {
    border-left-color: rgb(253 164 175 / 0.7);
    background-color: rgb(254 205 211 / 0.1);
  }

  code[data-line-numbers] {
    counter-reset: lineNumber;
  }

  code[data-line-numbers] [data-line]::before {
    counter-increment: lineNumber;
    content: counter(lineNumber);
    display: inline-block;
    text-align: right;

    margin-right: 0.75rem;
    width: 1rem;
    color: rgb(255 255 255 / 0.2);
  }

  input {
    @apply w-full p-2 rounded-md dark:bg-gray-700 dark:text-gray-300 bg-gray-200;
  }

  select {
    @apply w-full p-2 rounded-md dark:bg-gray-700 dark:text-gray-300 bg-gray-200;
  }

  label {
    @apply dark:text-gray-300;
  }
}
